{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock title %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock sidebar %}

{% block content %}
    {% for item in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категория:
            {{ item.category }}
        </div>
        <div class="card-body">
            <div class="media">
                <div class="media-body col-md-12">
                    {% if item.photo %}
                    <img src="{{ item.photo.url }}" width='350' alt="">
                    {% endif %}
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text ">{{ item.content|truncatewords:50 }}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ item.created_at|date:'Y-m-d H:i' }}
        </div>
    </div>
    {% endfor %}
{% endblock content %}